*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%; 
}


body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.7;
  font-weight: 400;
  font-family:'Montserrat', sans-serif;
}


@media only screen and (max-width: 56.25em){ /*900px */
  html{
    font-size: 50%;
  }
}

@media only screen and (max-width: 75em){ /*1200px */
  html{
    font-size: 56.25%
  }
}

@media only screen and (min-width:112.5em){ /*1800px */
  html{
    font-size: 75%;
  }
}
